<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../haha/css/User.css" th:href="@{/css/User.css}"/>
</head>
<body>
<div class="header">
    <div class="navs">
        <div class="nav">
            <ul>
                <li>
                    <div style="display: none" class="ppthot"></div>
                    <a style="color: #6a8ee5" href="temp">网页模板 </a>
                </li>
                <li>
                    <a href="js">网页特效 </a>
                </li>
                <li>
                    <a href="game">网页游戏 </a>
                </li>
                <li>
                    <div class="free"></div>
                    <a href="demo">java程序案例 </a>
                </li>
                <li>
                    <div class="free"></div>
                    <a href="source">整站源码 </a>
                </li>
                <li>
                    <a href="/blog/book">书 </a>
                </li>
            </ul>
        </div>
        <div class="login">
            <!-- 未登录 -->
            <a name="注册" class="regist" >注册</a>
            <a name="登录" class="regist-lg">QQ登录</a>
        </div>
    </div>
</div>

<div style="display: flex; height: 600px;width: 1000px; margin:0px auto;flex-wrap: wrap">
    <div th:each="book:${books}" style="height: 200px;width: 180px;margin: 10px">
        <img height="200" width="180" th:src="@{${book.getPictureUrl()}}" alt="">
        <h5 th:text="${book.getBookName()}" align="center"></h5>
    </div>
</div>

</body>
<script>
</script>
</html>
