<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../haha/css/User.css" th:href="@{/css/User.css}"/>
</head>
<body>
<div>
    <h1><a><img th:src="@{/image/Logo.bmp}" alt="简搜题"/> </a></h1>
    <form action="/search" method="post" >
        <input type="text" class="search" id="content" name="problems" placeholder="在 雨课堂题库中搜索..."/>
        <input id="search" type="submit" value="搜索" th:onclick="showmodal([[${question}]],[[${question}]],[[${answer}]],[[${explanation}]])"/>
    </form>
</div>

<table width="100%" border="1">

        <!-- th为表格标题栏-->
    <tr align="left">
        <th>问题</th>
        <th th:text="${question}" th:name="question"></th>
    </tr>
    <tr align="left">
        <th>选项</th>
        <th th:text="${choice}" th:name="choice"></th>
    </tr>
    <tr align="left">
        <th>答案</th>
        <th th:text="${answer}" th:name="answer"></th>
    </tr>
    <tr align="left">
        <th>解析</th>
        <th th:text="${explanation}" th:name="explanation"></th>
    </tr>
</table>
</body>
<script>
    function showmodal(question, choice,answer,explanation) {
        document.getElementsByName("question")[0].value = question;
        document.getElementsByName("choice")[0].value = choice;
        document.getElementsByName("answer")[0].value = answer;
        document.getElementsByName("explanation")[0].value = explanation;
    }

</script>
</html>
