<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>后台模板管理系统</title>
    <link type="text/css" rel="stylesheet"  th:href="@{/main/style.css}"/>
</head>

<body>

<div class="top"></div>
<div th:replace="common :: #header"></div>
<div id="content">
    <div th:replace="common :: #left_menu"></div>
    <div class="m-right">
        <div th:replace="common :: #right-nav"></div>
        <div class="main">
            <li>这里是main页面(尚无具体内容)</li>
        </div>
    </div>
</div>
</body>
<script>
    function show(id) {
        var a = document.getElementById(id);
        if (a.offsetWidth > 0 || a.offsetHeight > 0) {
            a.style.display = "none";
        } else {
            a.style.display = "block";
        }
    }
</script>
</html>
